<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href=" {{ url_for('static', filename='brew.css') }} ">
    <title>Coffee Belt</title>
</head>

<body class="bg-dark text-light">
    <!-- full container -->
    <div class="container">
        <!-- navbar section -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand">PROPER BLOOM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="/brew">Brew Method</a>
                        <a class="nav-link" href="/region">Region</a>
                        <a class="nav-link" href="/grounds">Grind Size Guide </a>
                        <a class="nav-link" href="/gear">Gear</a>
                        <a class="nav-link" href="/find">Find a Coffee Shop</a>

                    </div>
                </div>
            </div>
        </nav>
        <h1 class="title">BREW METHODS</h1>
        <div class="lower-box">
            <div class="btn-box">
                <div class="col-left">
                    <figure class="story_shape">
                        <img src=" {{ url_for('static', filename='img/v60back.jpg') }} " class="story_img">
                        <p class="story_caption">V60</p>
                    </figure>
                

                <figure class="story_shape">
                    <img src=" {{ url_for('static', filename='img/chemexback.jpg') }} " class="story_img">
                    <p class="story_caption">Chemex</p>
                </figure>
                <figure class="story_shape">
                    <img src=" {{ url_for('static', filename='img/fpback.jpg') }} " class="story_img">
                    <p class="story_caption">French Press</p>
                </figure>
            

            <figure class="story_shape">
                <img src=" {{ url_for('static', filename='img/mokapotback.jpg') }} " class="story_img">
                <p class="story_caption">Moka Pot</p>
            </figure>

                    
                </div>
                <div class="col-right">
                    <figure class="story_shape">
                        <img src=" {{ url_for('static', filename='img/kalitaback.jpg') }} " class="story_img">
                        <p class="story_caption">Kalita</p>
                    </figure>
                

                <figure class="story_shape">
                    <img src=" {{ url_for('static', filename='img/aeropressback.jpg') }} " class="story_img">
                    <p class="story_caption">Aeropress</p>
                </figure>
                <figure class="story_shape">
                    <img src=" {{ url_for('static', filename='img/espressoback.jpg') }} " class="story_img">
                    <p class="story_caption">Espresso</p>
                </figure>
            

            <figure class="story_shape">
                <img src=" {{ url_for('static', filename='img/dripback.jpg') }} " class="story_img">
                <p class="story_caption">Auto Drip</p>
            </figure>

                    </div>

                </div>
            </div>
        </div>
    </div>


</body>

</html>