<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/4da5932fc2.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/4da5932fc2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href=" {{ url_for('static', filename='brew.css') }} ">
    <title>Proper Bloom</title>
</head>

<body class="bg-dark text-light">
    <!-- full container -->
    <div class="container">
        <!-- navbar section -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">PROPER BLOOM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/region">Region</a>
                        <a class="nav-link" href="/grounds">Grind Size Guide </a>
                        <a class="nav-link" href="/gear">Gear</a>
                        <a class="nav-link" href="/user_recipes">Recipes</a>
                        <a class="nav-link active" href="/brew">Brew Method</a>
                        <a class="nav-link" href="/find">Find a Coffee Shop</a>
                        <a class="nav-link" href="/shop">Shop</a>
                        <a class="nav-link" href="/register">Login</a>
                        <button id="cart-btn" onclick="location.href='/gear'"><i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </div>
        </nav>



        <div class="container1">
            <h1 class="title">Brew Methods</h1>
            <h2 class="section-heading">Pick Your Preferd Brew Method</h2>
        </div>

        <div class="blank"></div>

        <div class="container1 second">
                <div class="col">
                    <div class="row">
                        <figure class="story_shape">
                            <img src=" {{ url_for('static', filename='img/v60back.jpg') }} " class="story_img">
                            <a class="story_caption" href="/v60">V60</a>
                        </figure>
                        <figure class="story_shape">
                            <img src=" {{ url_for('static', filename='img/chemexback.jpg') }} " class="story_img">
                            <a class="story_caption" href="/chemex">Chemex</a>
                        </figure>
                        <figure class="story_shape">
                            <img src=" {{ url_for('static', filename='img/fpback.jpg') }} " class="story_img">
                            <a class="story_caption" href="/frenchpress">French Press</a>
                        </figure>
                        <figure class="story_shape">
                            <img src=" {{ url_for('static', filename='img/mokapotback.jpg') }} " class="story_img">
                            <a class="story_caption" href="/mokapot">Moka Pot</a>
                        </figure>
                    </div>
                    <div class="row">
                        <figure class="story_shape">
                            <img src=" {{ url_for('static', filename='img/kalitaback.jpg') }} " class="story_img">
                            <a class="story_caption" href="/kalita">Kalita</a>
                        </figure>
                        <figure class="story_shape">
                            <img src=" {{ url_for('static', filename='img/aeropressback.jpg') }} " class="story_img">
                            <a class="story_caption" href="/aeropress">Aeropress</a>
                        </figure>
                        <figure class="story_shape">
                            <img src=" {{ url_for('static', filename='img/espressoback.jpg') }} " class="story_img">
                            <a class="story_caption" href="/espresso">Espresso</a>
                        </figure>
                        <figure class="story_shape">
                            <img src=" {{ url_for('static', filename='img/dripback.jpg') }} " class="story_img">
                            <a class="story_caption" href="/autodrip">Auto Drip</a>
                        </figure>
                    </div>
                </div>
        </div>



        <!-- redirect buttons and footer start -->
        <div class="home-flex">
            <!-- remeber to change link to current page -->
            <a class="btn-home" href="/">Home</a>
            <a class="btn-home" href="/shop">Back to Top</a>
        </div>
    </div>
    <div class="footer">
        <footer>©2024 ProperBloom</footer>
    </div>
    <!-- redirect buttons and footer end -->
</body>

</html>