<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href=" {{ url_for('static', filename='recipe.css') }} ">
    <title>Proper Bloom</title>
</head>

<body class="bg-dark text-light">
    <!-- full container -->
    <div class="container">
        <!-- navbar section -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">PROPER BLOOM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/region">Region</a>
                        <a class="nav-link" href="/grounds">Grind Size Guide </a>
                        <a class="nav-link" href="/gear">Gear</a>
                        <a class="nav-link" href="/user_recipes">Recipes</a>
                        <a class="nav-link active" href="/brew">Brew Guide</a>
                        <a class="nav-link" href="/find">Find a Coffee Shop</a>
                        <a class="nav-link" href="/shop">Shop</a>
                        {% if user_id == session['user_id'] %}
                        <a class="nav-link" href="/register">Login</a>
                        {% else %}
                        <a class="nav-link" href="/logout">Logout</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
        
        <div class="container1">
            <h1 class="section-heading">Recipe for South American Coffee on Espresso</h1>
            <p class="p-top">
                Water Temp : 201f
                <br>
                Dose Amount : 20g 
                <br>
                Yield Amount : 42g 
                <br>
                Shot time: 29 Seconds
                <br>
                Ratio : 1:2.1
                <br>
            </p>
        </div>
        
        <div class="blank">
        </div>

        <div class="second">
            <img class="img-left" src="/static/img/espresso/1.jpeg" alt="">
            <div class="steps">
                <h1 class="title-right">Step One</h1>
                <p class="p-right">To ensure your dose is accurate, tare the scale with the portafilter on top, grind it into the basket,
                    and then place the portafilter back on the scale. </p>
            </div>
        </div>
        <div class="third">
            <div class="steps">
                <h1 class="title-left">Step Two</h1>
                <p class="p-left"> Once you have the right weight, evenly tamp your espresso with 30 lbs of pressure. </p>
            </div>
            <img class="img-right" src="/static/img/espresso/9.jpg" alt="">
        </div>
        <div class="fourth">
            <img src="/static/img/espresso/8.jpg" alt="">
            <div class="steps">
                <h1 class="title-right">Step Three</h1>
                <p class="p-right">Grab a clean shot glass or mini metal pitcher, place it on the scale, and zero it out.</p>
            </div>
        </div>
        <div class="fifth">
            <div class="steps">
                <h1 class="title-left">Step Four</h1>
                <p class="p-left">Place the scale and the glass under the group head, and begin brewing your espresso. Immediately start
                    your timer.</p>
            </div>
            <img src="/static/img/espresso/7.jpg" alt="">
        </div>
        <div class="sixth">
            <img src="/static/img/espresso/6.jpg" alt="">
            <div class="steps">
                <h1 class="title-right">Step Five</h1>
                <p class="p-right">At the 29-second mark, stop the shot and read the yield on the scale. If the yield is below 42 grams, make your grind coarser.
                    If it’s above 42 grams, make your grind finer.</p>
            </div>
        </div>

        <div class="seventh">
            <div class="steps">
                <h1 class="title-left">Step Six</h1>
                <p class="p-left">-Enjoy</p>
            </div>
            <img src="/static/img/espresso/10.jpg" alt="">
        </div>


        <!-- redirect buttons and footer start -->
        <div class="home-flex">
            <!-- remeber to change link to current page -->
            <a class="btn-home" href="/">Home</a>
            <a class="btn-home" href="/brew">Back to Recipes</a>
        </div>
    </div>
    <div class="footer">
        <footer>©2024 ProperBloom</footer>
    </div>
    <!-- redirect buttons and footer end -->

</body>

</html>