<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href=" {{ url_for('static', filename='recipe.css') }} ">
    <title>Proper Coffee</title>
</head>

<body class="bg-dark text-light">
    <!-- full container -->
    <div class="container">
        <!-- navbar section -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">PROPER BLOOM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                        <a class="nav-link" href="/brew">Brew Method</a>
                        <a class="nav-link" href="/region">Region</a>
                        <a class="nav-link" href="/grounds">Grind Size Guide </a>
                        <a class="nav-link" href="/gear">Gear</a>
                        <a class="nav-link" href="/find">Find a Coffee Shop</a>

                    </div>
                </div>
            </div>
        </nav>
        <h1 class="title">Proper Bloom</h1>
        <h2>Coffee Recipe</h2>

        <div class="lower-box">
            <div class="btn-box">
                <div class="top-col-left">
                    <p>Water Temp : 206f</p>
                    <p>Coffee Amount : 30g</p>
                    <p>Water Amount : 350g</p>
                    <p>Brew Time : 4 min 30 sec</p>
                </div>
                <div class="top-col-right">
                    <p>Grind Size</p>
                    <img src=" {{ url_for('static', filename='img/French-press2.jpg') }} ">
                </div>
            </div>
            <h2>Coffee Recipe</h2>
            <br>
            <h3>Recipe for Asian Coffee on a French Press:</h3>
            <p>1: While the water is heating, grind your coffee. French press coffee calls for a coarse, even grind. We
                recommend starting with a 1:12 coffee-to-water ratio. If you're using 350 grams of water, you’ll want 30
                grams of coffee.
                <br>
                2: Bloom the coffee
                Gently pour twice the amount of water than you have coffee onto your grounds. For example, if you have
                30 grams of coffee, you’ll want to start with 60 grams of water. Give the grounds a gentle stir with a
                bamboo paddle or chopstick. Allow the coffee to bloom for 30 seconds.
                <br>
                3: Pour the remaining water and place the lid gently on top of the grounds.
                Don’t plunge just yet. Let the coffee steep for four minutes. Four. Don’t guess.
                <br>
                4: Gently remove your French press from the scale and place it on your counter. Press the filter down.
                If it’s hard to press, that means your grind is too fine; if the plunger “thunks” immediately down to
                the floor, it means your grind is too coarse. The sweet spot, pressure-wise, is 15–20 lbs. Not sure what
                this feels like? Try it out on your bathroom scale.
                <br>
                5:When you’ve finished pressing, serve the coffee immediately. Don’t let it sit, as this will cause it to
                continue brewing and over-extract. 
                <br>
                6: -Enjoy!
            </p>
        </div>
        <div class="button">
            <a class="btn btn-light" href="/brew" role="button">Try Another Recipe</a>
        </div>
    </div>

</body>

</html>