<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href=" {{ url_for('static', filename='gear.css') }} ">
    <title>ProperBloom</title>
</head>

<body class="bg-dark text-light">
    <!-- full container -->
    <div class="container">
        <!-- navbar section -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">PROPER BLOOM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/region">Region</a>
                        <a class="nav-link" href="/grounds">Grind Size Guide </a>
                        <a class="nav-link active" href="/gear">Gear</a>
                        <a class="nav-link" href="/user-recipes">Recipes</a>
                        <a class="nav-link" href="/brew">Brew Method</a>
                        <a class="nav-link" href="/find">Find a Coffee Shop</a>
                        <a class="nav-link" href="/shop">Shop</a>
                        <a class="nav-link" href="/register">Login</a>
                    </div>
                </div>
            </div>
        </nav>

        <div class="container1">
            <h1 class="title">Gear</h1>
            <h2 class="section-heading">Here to help you understand brewing methods and gear.</h2>
        </div>

        <div class="blank">
            <h3><a id="title-link" href="https://kalitausa.com/" target="_blank"
                    class="btn btn-text-stretch btn-text-stretch--gray">Kalita Wave 185</a></h3>
            <p>The Kalita Wave is a unique brewing process with tailor-made filters and brewers that provide foolproof
                pour over coffee extractions. The inside of this brewer features a wave design with a contrasting
                20-wave filter that works rhythmically together to limit contact between each other so water can flow
                evenly and at just the right rate. Once the water reaches the flat bottom 3-hole design the brewer
                prevents water from accumulating so extractions are even and bitterness is dodged; the result is
                delicious coffee. Rarely are people disappointed with the results of a Kalita Wave Brewer for their even
                extractions and simple brewing process.</p>
            <p>Expect strong and robust brews from this pour-over dripper. It has a unique flat-bottomed coffee bed,
                three small extraction holes, and a patented wave filter so hot water does not accumulate. The result is a
                rich and evenly extracted cup of coffee. The Kalita Wave 155 is a small robust dripper that brew for 1-2
                cups and the Kalita Wave 185 dripper holds more volume than the 155 version so you can brew for 2-4
                cups.</p>
            <p>Wave 185 Retails for : $40 || Wave 155 Retails for : $36.50</p>
        </div>

        <div class="container1 second">
            <div class="row1">
                <a id="web-link" href="https://kalitausa.com/products/kalita-wave-185-stainless-steel-coffee-dripper"
                    target="_blank">
                    <button class="btn btn-rect-to-round btn-rect-to-round--black"> Kalita Wave </button>
                </a>
                <img src=" {{ url_for('static', filename='img/kalita2.jpg') }} ">
                <img src=" {{ url_for('static', filename='img/kalita-wave.jpg') }} ">
            </div>
            <div class="row2">
                <a id="web-link" href="https://kalitausa.com/collections/filter" target="_blank">
                    <button class="btn btn-rect-to-round btn-rect-to-round--black"> Kalita Filters </button>
                </a>
                <img src=" {{ url_for('static', filename='img/kalitafil1.jpg') }} ">
                <img src=" {{ url_for('static', filename='img/kalitafil2.jpg') }} ">
            </div>
        </div>

        <div class="blank">
            <h3><a id="title-link" href="https://www.hario-usa.com/" target="_blank"
                    class="btn btn-text-stretch btn-text-stretch--gray">Hario V60</a></h3>
            <p>The Hario V60 has a unique conical silhouette. It takes its name from the V-shaped sides of its conical
                brewing chamber, which are pitched at a 60-degree angle.

                The steep angle of the V60’s sides makes for a deeper coffee bed than the average pour-over dripper.
                This allows the maximum contact time for the water as it passes through the coffee grounds.

                The inner surface of the V60 has spiralized ridges that allow airflow between the coffee filter and the
                surface of the dripper. This helps make sure the brew doesn’t get choked up.

                The other unique feature of the Hario V60 is the large hole at the bottom, which allows the water to
                flow through the grounds easily.</p>
            <p><strong>Meet the different types of V60s</strong></p>
            <p>The V60 moniker refers, not to a single dripper, but to a series of pour-over coffee makers, all of which
                feature Hario’s trademark geometry, large drainage hole, and spiraled ridges. The V60 comes in three
                different sizes and various materials.</p><br>
            <p><strong>Which material is best for a Hario V60?</strong></p>
            <p><strong>Ceramic :</strong> The “standard” is the heftiest of the V60s. As with any ceramic coffee
                dripper,
                you need to pre-heat it so it doesn’t cool your water too much when you’re brewing.
                Once it’s heated, it holds the heat well and keeps an even temperature for the brew. These are also the
                priciest V60 brewers.</p><br>
            <p><strong>Glass :</strong> Glass is less durable than ceramic, but is still a premium material with a
                similar
                thermal mass to ceramic. You’ll want to preheat your glass V60 as well. It’s a non-reactive material, so
                it guarantees clean, consistent flavor with every mouthful.</p>
            <p>Retails for : $20 - $40</p>
        </div>

        <div class="container1 third">

            <div class="row1">
                <a id="web-link" href="https://www.hario-usa.com/products/v60-coffee-dripper-02-ceramic"
                    target="_blank">
                    <button class="btn btn-rect-to-round btn-rect-to-round--black"> Hario V60 </button>
                </a>
                <img src=" {{ url_for('static', filename='img/v60.jpg') }} ">
                <img src=" {{ url_for('static', filename='img/v601.jpg') }} ">
            </div>
            <div class="row2">
                <a id="web-link" href="https://www.hario-usa.com/collections/filters" target="_blank">

                    <button class="btn btn-rect-to-round btn-rect-to-round--black"> Hario V60 </button>
                </a>

                <img src=" {{ url_for('static', filename='img/v60fil2.png') }} ">
                <img src=" {{ url_for('static', filename='img/v60fil.jpg') }} ">
            </div>

        </div>

        <div class="blank">
            <h3><a id="title-link" href="https://www.chemexcoffeemaker.com/" target="_blank"
                    class="btn btn-text-stretch btn-text-stretch--gray">Chemex</a></h3>
            <p>The Chemex pour over coffee maker is one of the world’s most widely recognized pour over coffee makers,
                and can be found in most coffee and kitchen stores. I got this coffee maker on Amazon and while I was
                worried it will arrive broken and shattered, I am happy to report that it arrived without any damage.

                This brewer has a double-whammy reputation as both a beautiful kitchen tool and a high-quality coffee
                maker, and is a near-perfect balance of aesthetics and performance. The Hario V60 may be the most
                popular pour over coffee maker, but the Chemex is likely the most popular coffee maker of all classes.

                With a wide range of size options and two different styles to choose from (the all-glass Chemex
                Handblown vs. the Chemex Classic series) the Chemex can satisfy just about any appetite.

                Handled properly, the coffee it makes is smooth yet full of flavor. YES – it does take some practice to
                get used to, but its coffee making abilities are a match for even the best pour over pros.</p>
            <p> <strong> Why Chemex? <br></strong> It’s got to be hard inventing a brewing method all the way back in
                the
                1940s that still works flawlessly to this day. While many other brewing methods have been significantly
                updated (and some are still being updated more frequently than the iPhone), the Chemex has remained
                essentially the same since its conception. The only thing that has changed is the design, to make it
                more appealing for today’s audience.

                Still, the Chemex remains very true to its roots, with the classic model featuring the only addition of
                a cool wooden handle, fastened with a leather cord. Even this good-looking feature is there for the
                practical purpose of easier pouring. Besides this classical model, they also have a glass handle model,
                which is made completely out of glass and features a regular handle. There’s also a hand-made model,
                made entirely by hand by professional glassblowers!

                Interestingly, Chemex has also put out what they call the Funnex — basically, the upper part of the
                Chemex. It lets you make coffee into whatever decanter you want. It’s like having a portable Chemex!</p>
            <p>Retails for : $40 - $160</p>
        </div>

        <div class="container1 fourth">

            <div class="row1">
                <a id="web-link" href="https://www.chemexcoffeemaker.com/eight-cup-classic-series-coffeemaker.html"
                    target="_blank">
                    <button class="btn btn-rect-to-round btn-rect-to-round--black"> Chemex</button>
                </a>

                <img src=" {{ url_for('static', filename='img/chemex1.jpg') }} ">
                <img src=" {{ url_for('static', filename='img/chemex2.jpg') }} ">
            </div>
            <div class="row2">
                <a id="web-link" href="https://www.chemexcoffeemaker.com/filters.html" target="_blank">
                    <button class="btn btn-rect-to-round btn-rect-to-round--black"> Chemex Filters</button>
                </a>

                <img src=" {{ url_for('static', filename='img/chemfil2.jpg') }} ">
                <img src=" {{ url_for('static', filename='img/chemfil1.jpg') }} ">
            </div>

        </div>

        <div class="blank">

            <h3><a id="title-link" href="https://aeropress.com/" target="_blank"
                    class="btn btn-text-stretch btn-text-stretch--gray">Areopress</a></h3>
            <p>The Aeropress seems like a bit of a toy at first glance. And in fact, the company behind it — Aerobie —
                is a frisbee producer.
                However, the Aeropress is more than capable of brewing delicious coffee.
                In recent years, the gadget has proved itself as one of the most popular options among specialty coffee
                lovers.
                Personally, I think most coffee geeks would have a lot of fun, and of course, good coffee with this
                little gadget.
                If you’re thinking about picking up a coffee brewer for a quick cup, then it’s a no-brainer to try the
                AeroPress.
                Alan Adler, the founder and CEO of Aerobie, invented the AeroPress in 2004. His goal was to design a
                device that could brew a superior cup of coffee. In short, he succeeded! Adler created a device that is
                compact, durable, and frankly, a hit. Folks love the AeroPress!
                The AeroPress’s best attribute is also what makes it difficult to master—the nearly infinite possible
                brewing variations. Have a look at the recipes from past years of the AeroPress World Championship. No
                two winning recipes are identical, and contestants toyed with every single brewing variable to make the
                best cup possible.</p>
            <p><strong>Who should consider the aeropress? </strong> <br>One of the Aeropress’ main strengths is its
                compact size. It’s small and lightweight enough that you can easily fit it into your regular backpack
                and bring it to work or on a trip.
                However, the small size also means that the Aeropress is somewhat limited in its capacity. If you are
                just brewing for one or maybe even two persons that’s no problem.
                If you have to brew coffee for your family or a larger group you better look for something with a larger
                capacity. </p>
            <p><strong>Ease of use</strong> <br> The brewer is very easy to use, but there is a learning curve. Of
                course, you can just start using the typical ‘beginner’ recipes, you’d find online, but at the same
                time, there are millions of small tweaks you can apply as you go along.

                In that sense, the brewer is a great source of fun. It’s easy to get started, but the options are
                limitless as your proficiency as an Aero-barista grows.

                One thing I want to emphasize though is that there are a few techniques and best practices that you
                should definitely apply in your brewing, which will help you make great coffee a lot faster. It’s easy
                to make good coffee with the Aeropress… however, making truly heavenly coffee is another matter
                entirely.</p>
            <p><strong>Prismo attachment for AeroPress</strong><br>Prismo is a pressure-actuated valve designed to be
                used with the AeroPress Coffee Maker. This attachment allows for a build-up of pressure to brew
                espresso-style coffee and creates a no-drip seal for recipes that normally require inverting your
                AeroPress.

                To eliminate the need for paper filters, a reusable 150 micron etched filter stops sludge in its tracks
                and fits directly over your favorite espresso glass to “pull a shot” at home. Espresso-style,
                full-immersion, cold brew, hot/iced tea, Americanos, and more—endless recipes are just one plunge away!
            </p>

            <p>Retails for : $40</p>
        </div>

        <div class="container1 fifth">

            <div class="row1">
                <a id="web-link" href="https://aeropress.com/products/aeropress-coffee-maker" target="_blank">
                    <button class="btn btn-rect-to-round btn-rect-to-round--black"> Areopress </button>
                </a>
                <img src=" {{ url_for('static', filename='img/areopress1.jpg') }} ">
                <img src=" {{ url_for('static', filename='img/areo3.jpg') }} ">
            </div>
            <div class="row2">
                <a id="web-link" href="https://aeropress.com/collections/paper-filters" target="_blank">
                    <button class="btn btn-rect-to-round btn-rect-to-round--black"> Areopress Filters</button>
                </a>

                <img src=" {{ url_for('static', filename='img/aerofil2.jpg') }} ">
                <img src=" {{ url_for('static', filename='img/aerofil4.jpg') }} ">
            </div>
        </div>

        <!-- redirect buttons and footer start -->
        <div class="home-flex">
            <a class="btn-home" href="/">Home</a>
            <!-- remeber to change link to current page -->
            <a class="btn-home" href="/gear">Back to Top</a>
        </div>
    </div>
    <div class="footer">
        <footer>©2024 ProperBloom</footer>
    </div>
    <!-- redirect buttons and footer end -->
</body>

</html>