<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/4da5932fc2.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&display=swap"
        rel="stylesheet" />
    <link rel="stylesheet" href=" {{ url_for('static', filename='shop.css') }} ">
    <title>Proper Bloom</title>
</head>

<body class="bg-dark text-light">
    <!-- full container -->
    <div class="container">


        <!-- navbar section -->
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">PROPER BLOOM</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link" href="/region">Region</a>
                        <a class="nav-link" href="/grounds">Grind Size Guide </a>
                        <a class="nav-link" href="/gear">Gear</a>
                        <a class="nav-link" href="/user_recipes">Recipes</a>
                        <a class="nav-link" href="/brew">Brew Method</a>
                        <a class="nav-link" href="/find">Find a Coffee Shop</a>
                        <a class="nav-link active" href="/shop">Shop</a>
                        <a class="nav-link" href="/register">Login</a>
                        <button id="cart-btn" onclick="location.href='/gear'"><i
                                class="fa-solid fa-cart-shopping"></i></button>
                    </div>
                </div>
            </div>
        </nav>


        <div class="container1">
            <h1 class="title">Shop</h1>
            <!-- hover pic effect start -->

            <section class="team">
                <h2 class="section-heading">Everything you need to make coffee you love</h2>
                <div class="shop-list">
                    <div class="row1">
                        <div class="profile">
                            <a href="#sec1">
                                <img src=" {{ url_for('static', filename='img/Shop-img/beans.jpg') }} " alt="" /><span
                                    class="name">Coffee Beans</span>
                            </a>
                        </div>
                        <div class="profile">
                            <a href="#sec2">
                                <img src="{{ url_for('static', filename='img/Shop-img/coffee-maker.jpeg') }}"
                                    alt="" /><span class="name">Coffee makers</span>
                            </a>
                        </div>
                        <div class="profile">
                            <a href="#sec3">
                                <img src="{{ url_for('static', filename='img/Shop-img/grinder.png') }}" alt="" /><span
                                    class="name">grinders</span>
                            </a>
                        </div>
                    </div>
                    <div class="row2">
                        <div class="profile">
                            <a href="#sec4">
                                <img src="{{ url_for('static', filename='img/Shop-img/espresso.jpg') }}" alt="" /><span
                                    class="name">espresso machines</span>
                            </a>
                        </div>
                        <div class="profile">
                            <a href="#sec5">
                                <img src="{{ url_for('static', filename='img/Shop-img/pour.jpg') }}" alt="" /><span
                                    class="name">pour over</span>
                            </a>
                        </div>
                        <div class="profile">
                            <a href="#sec6">
                                <img src="{{ url_for('static', filename='img/Shop-img/tools.jpg') }}" alt="" /><span
                                    class="name">accessories</span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- hover pic effect end -->
        </div>


        <div class="blank">
            <h4 id="sec1">Coffee Beans</h4>

        </div>

        <div class="container1 first">
            <div class="shop-row-top">
                <div class="shopping-card">
                    <img class="shop-img" src="{{ url_for('static', filename='img/Shop-img/shop_beans/onyx2.webp') }}" alt="">
                    <p>Onyx Coffee Labs</p>
                    <p>19.95</p>
                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
            </div>

            <div class="shop-row-bottom">
                <div class="shopping-card">

                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
            </div>

        </div>

        <div class="blank">
            <h4 id="sec2">Coffee Makers</h4>

        </div>

        <div class="container1 second">
            <div class="shop-row-top">
                <div class="shopping-card">

                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
            </div>

            <div class="shop-row-bottom">
                <div class="shopping-card">

                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
            </div>
        </div>

        <div class="blank">
            <h4 id="sec3">Grinders</h4>

        </div>

        <div class="container1 third">
            <div class="shop-row-top">
                <div class="shopping-card">

                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
            </div>

            <div class="shop-row-bottom">
                <div class="shopping-card">

                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
            </div>
        </div>

        <div class="blank">
            <h4 id="sec4">Espresso Machines</h4>

        </div>

        <div class="container1 fourth">
            <div class="shop-row-top">
                <div class="shopping-card">

                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
            </div>

            <div class="shop-row-bottom">
                <div class="shopping-card">

                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
            </div>
        </div>
        <div class="blank">
            <h4 id="sec5">Pour over</h4>

        </div>

        <div class="container1 fifth">
            <div class="shop-row-top">
                <div class="shopping-card">

                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
            </div>

            <div class="shop-row-bottom">
                <div class="shopping-card">

                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
            </div>
        </div>
        <div class="blank">
            <h4 id="sec6">accessories</h4>

        </div>

        <div class="container1 sixth">
            <div class="shop-row-top">
                <div class="shopping-card">

                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
            </div>

            <div class="shop-row-bottom">
                <div class="shopping-card">

                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
                <div class="shopping-card">
                </div>
            </div>
        </div>


        <!-- redirect buttons and footer start -->
        <div class="home-flex">
            <a class="btn-home" href="/">Home</a>
            <!-- remeber to change link to current page -->
            <a class="btn-home" href="/shop">Back to Top</a>
        </div>
    </div>
    <div class="footer">
        <footer>©2024 ProperBloom</footer>
    </div>
    <!-- redirect buttons and footer end -->

</body>

</html>