@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');


/* :root {
    --color: #282727;
} */

body {
    font-family: 'Red Hat Text', sans-serif;
}
h1 {

    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 100px;
    margin: 50px;
}



p{
    display: inline-block;
    padding: 1em 3.5em;
    background-color: var(--color);
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: .875rem;
}
a{
    display: inline-block;
    padding: 1em 3.5em;
    background-color: var(--color);
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: .875rem;
}




.lower-box {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-box {
    width: 600px;
    height: 1000px;
    display: flex;
    margin: 40px;
    justify-content: center;
    align-items: center;
}


h2 {
    text-align: center;
}

.container {
    background-image: url('/static/img/firdaus-ramadhan-1AMsQMsERy4-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1380px;
    align-items: center;

}

.navbar-brand{
    color: white;
    background-color: rgb(40, 33, 33);
}



#storelocatorwidget {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    width: 90%;
    
}

.storelocator-scrollFix IMG {
    max-width: 250px;
}

@media screen and (max-width: 992px) {

    td#storelocator-infowindow-td-left,
    td#storelocator-infowindow-td-right {
        display: table-row;
    }
}

@media(max-width:600px) {
    .navbar-brand {
        text-align: center;
        padding: 0;
        width: 285px;
    }
}

.btn-home {
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

}