@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');


.btn-box {

    height: 500px;
    display: flex;
    margin: 40px;
    align-items: center;
    justify-content: space-around;
}

h2 {

    color: white;
    background: rgba(0, 0, 0, 0.5);
    max-width: 52ch;
    line-height: 1.5;
    padding: 1em;

}

h1 {
    text-align: center;
    font-size: 100px;
    margin: 150px;
}

@media (max-width:600px) {
    h1.title {
        font-size: 100px;
    }
}

@media (max-width:600px) {
    #title-link {
        font-size: 55px;
    }
}

h2 {
    text-align: center;
}

.container {
    align-items: center;

}

.top-col-right p {
    font-size: 40px;
    align-items: center;
    text-align: center;
}

.top-col-left p {
    font-size: 40px;
    align-items: center;
    text-align: center;
}


img {
    width: 100%;
    float: left;
    float: right;
    overflow: hidden;
    border-radius: 20px;
    margin-bottom: 20px;

}



/* all body  */





:root {
    --color: rgb(33, 37, 41);
}

body {
    font-family: 'Red Hat Text', sans-serif;
}

.container1 {
    text-align: center;
    color: var(--color);
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('/static/img/nathan-dumlao-Y3AqmbmtLQI-unsplash.jpg');
    background-size: cover;
    background-position: center;
    /*  this is where the magic happens:  */
    background-attachment: fixed;
}






/* start of web link hover effect  */

.btn {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.btn:hover .btn-slide-show-text1 {
    margin-left: 65px;
}

.btn-rect-to-round {
    height: 55px;
    width: 300px;
    font-size: 25px;
    font-weight: 600;
    background: rgb(243, 208, 208);
    cursor: pointer;
    transition: all 0.5s ease-in 0s;
    margin: 30px;
}

.btn-rect-to-round:hover {
    border-radius: 60px;
    color: rgb(255, 255, 255) !important;
}

.btn-rect-to-round--black {
    border: 2px solid rgb(243, 208, 208);
    color: rgb(51, 51, 51) !important;
}

.btn-rect-to-round--black:hover {
    border-color: rgb(51, 51, 51);
    background: rgb(51, 51, 51);
}


/* end of web link hover effect  */


/* start of title hover */
.btn {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.btn:hover .btn-slide-show-text1 {
    margin-left: 65px;
}

.btn-text-stretch {
    letter-spacing: 0px;
    box-sizing: inherit;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease;
    cursor: pointer;
    font-size: 100px;
    font-weight: 400;
    line-height: 100px;
    margin: 0px 0px 20px;
    max-width: 1000px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    font-family: lato, serif;
}

.btn-text-stretch:hover {
    letter-spacing: 5px;
}

.btn-text-stretch::before {
    backface-visibility: hidden;
    border: 1.5px solid transparent;
    bottom: 0px;
    content: " ";
    display: block;
    margin: 0px auto;
    position: relative;
    transition: all 0.4s ease-in-out 0s;
    width: 0px;
}

.btn-text-stretch:hover::before {
    backface-visibility: hidden;
    transition: width 0.5s ease-in-out 0s;
    width: 110%;
    bottom: auto;
    top: 0px;
    width: 110%;
}

.btn-text-stretch--gray {
    color: rgb(255, 255, 255);
}

.btn-text-stretch--gray:hover::before {
    border-color: rgb(243, 208, 208);
}

/* end of title hover*/

.navbar-brand {
    color: white;
}

a {
    display: inline-block;
    padding: 1em 3.5em;
    color: white;
    background-color: var(--color);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: .875rem;
}

a#web-link {
    background-color: transparent;
    padding: 0;
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 10rem;
}


.row2 p {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-size: 25px;
    margin: 40px;
}

.row1 p {
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-size: 25px;
    margin: 40px;
}


.blank {
    width: 100%;
    min-height: 600px;
    background-color: var(--color);
}

.second {
    background-image: url(https://images.unsplash.com/photo-1521401292936-0a2129a30b1c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1365&q=80);
    background-attachment: fixed;
    height: 1700px;
}

.third {
    background-image: url(https://images.unsplash.com/photo-1543233604-3baca4d35513?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80);
    background-attachment: fixed;
    height: 1700px;
}

.fourth {
    background-image: url(https://images.unsplash.com/photo-1498709112912-9be3173d30be?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=988&q=80);
    background-attachment: fixed;
    height: 1700px;
}

.fifth {
    background-image: url(https://images.unsplash.com/photo-1541870730196-cd1efcbf5649?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1336&q=80);
    background-attachment: fixed;
    height: 1900px;
}

h3 {
    padding-top: 40px;
    text-align: center;
    font-weight: 800;
    font-size: 40px;

}

.card>a {
    margin-bottom: 2em;
}

.item {
    display: flex;
    max-width: 320px;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
    -webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
}

.blank p {
    text-align: center;
    background: none;

}



.second {
    flex-direction: row;
    align-items: flex-start;
    gap: 2em;
    margin-bottom: 10px;
}

@media (max-width:600px) {
    .second {
        height: 2000px;
        display: block;
        align-items: center;
        justify-content: center;
        gap: 2em;
        margin-bottom: 10px;
    }
}

.third {
    flex-direction: row;
    align-items: flex-start;
    gap: 2em;
    margin-bottom: 10px;
}

@media (max-width:600px) {
    .third {
        height: 2000px;
        display: block;
        align-items: center;
        justify-content: center;
        gap: 2em;
        margin-bottom: 10px;
    }
}

.fourth {
    flex-direction: row;
    align-items: flex-start;
    gap: 2em;
    margin-bottom: 10px;
}

@media (max-width:600px) {
    .fourth {
        height: 2000px;
        display: block;
        align-items: center;
        justify-content: center;
        gap: 2em;
        margin-bottom: 10px;
    }
}

.fifth {
    flex-direction: row;
    align-items: flex-start;
    gap: 2em;
    margin-bottom: 10px;
}

@media (max-width:600px) {
    .fifth {
        height: 2000px;
        display: block;
        align-items: center;
        justify-content: center;
        gap: 2em;
        margin-bottom: 10px;
    }
}

.row1 {
    display: block;
    align-items: center;
    justify-content: center;
}

.row2 {
    display: block;
    align-items: center;
    justify-content: center;
}



@media(max-width:600px) {
    .navbar-brand {
        text-align: center;
        padding: 0;
        width: 285px;
    }
}

/* home button hover effect start */

.home-flex{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
a.btn-home {
    margin: 25px;
    border: 2px solid rgb(243, 208, 208);
    border-radius: 2px;
    width: 220px;
}
.btn-home:hover{
    background-color: rgb(243, 208, 208);
    color: rgb(51, 51, 51);
}

/* home button hover effect end */
.footer {
    text-align: center;
}

