@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');


:root {
    --color: #282727;
}

body {
    font-family: 'Red Hat Text', sans-serif;
}
h1 {

    text-align: center;
    color: white;
    font-weight: 700;
    font-size: 100px;
    margin: 50px;
}


p{
    font-size: 25px;
    text-align: left;
    margin: 40px;
}

#cart-btn {
    font-size: 25px;
    color: var(--color);
    position: absolute;
    right: 20px;
    margin-bottom: 25px;
    background-color: transparent;
    border: solid 2px transparent;
    border-radius: 3px;
    width: 44px;
    height: 38px;
}

a {
    display: inline-block;
    padding: 1em 3.5em;
    background-color: var(--color);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: .875rem;
}

.btn-box{

    height: 500px;
    display: flex;
    margin: 40px;
    align-items: center;
    justify-content: space-around;
}
h1{
    text-align: center;
    font-size: 50px;
    margin: 150px;
}
h2{
    text-align: center;
}
.container{
    align-items: center;
    
}

.top-col-left p{
    font-size: 40px;
}
img{
    height: 400px;
    width: 400px;
    border-radius: 20px;
    overflow: hidden;
}
.top-col-right{
    align-items: center;
    text-align: center;
}

.navbar-brand{
    color: white;
}

.footer {
    text-align: center;
}