@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap');




h4 {
    font-size: 25px;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    max-width: 52ch;
    line-height: 1.5;
    padding: 1em;
}




.section-heading {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    border: 4px solid rgb(250, 207, 207);
    font-size: 25px;
    padding: 10px;
    color: rgb(250, 207, 207);
    margin-bottom: 100px;
    width: auto;

}


/* all body  */





:root {
    --color: #282727;
}

body {
    font-family: 'Red Hat Text', sans-serif;
}

.container1 {
    text-align: center;
    color: var(--color);
    min-height: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.unsplash.com/photo-1507133750040-4a8f57021571?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 20px;
}

#cart-btn {
    font-size: 25px;
    color: var(--color);
    position: absolute;
    right: 20px;
    margin-bottom: 25px;
    background-color: transparent;
    border: solid 2px transparent;
    border-radius: 3px;
    width: 44px;
    height: 38px;
}

h1 {
    color: white;
    font-weight: 700;
    font-size: 150px;
    margin-bottom: 150px;
    padding: 20px;
}

.carousel-inner {

    align-items: center;
    justify-content: center;

}

.lower-title {

    color: white;
    font-weight: 700;
    font-size: 80px;
    margin-bottom: 150px;
    padding: 20px;
}

@media (max-width:600px) {
    h1.title {
        font-size: 55px;
    }
}

@media(max-width:600px) {
    .navbar-brand {
        text-align: center;
        padding: 0;
        width: 285px;
    }
}

p {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    max-width: 52ch;
    line-height: 1.5;
    padding: 1em;
}

a {
    display: inline-block;
    padding: 1em 3.5em;
    background-color: var(--color);
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: .875rem;
}

/* navbar style start */
.nav-link {
    display: inline-block;
    color: rgb(240, 184, 184);
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: .875rem;
}

.navbar-brand {
    padding: 5px 70px;
    color: white;
    background-color: var(--color);
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 0.3em;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 1.25rem;
}

/* navbar style end */



.blank,
.other {
    width: 100%;
    min-height: 500px;
    background-color: transparent;
}

.second {
    background-image: url(https://cdn.shopify.com/s/files/1/0563/3294/3550/articles/coffee-plant-leaves-stem.jpg?v=1628191293);
    background-attachment: fixed;
    height: 1200px;
}

h3 {
    font-weight: 700;
    font-size: 1.6rem;
    margin-top: 1em;
}

.card>a {
    margin: 10px;
    align-items: center;
    text-align: center;
}

.item {
    width: 900px;
    text-align: center;
    display: flex;
    background-color: white;
    flex-direction: column;
    align-items: center;
    border-radius: .5em;
    -webkit-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    -moz-box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    box-shadow: 0px 29px 38px -15px rgba(0, 0, 0, 0.43);
    padding: 20px;
}

@media (max-width:600px) {
    .item {
        width: 300px;
    }
}

.item>a {
    margin: 20px;
}

.img {
    width: 100%;
    height: 700px;
    background-color: lightgrey;
    background-size: cover;
    background-position: center;
    margin: 20px;
    border-radius: .3em;
    padding: 20px;

}

.img-first {
    background-image: url(https://minimalistbaker.com/wp-content/uploads/2019/01/Step-by-Step-instructions-for-How-to-Make-Pourover-Coffee-minimalistbaker-coffee-4.jpg);
}

.img-second {
    background-image: url(https://minimalistbaker.com/wp-content/uploads/2019/01/Step-by-Step-instructions-for-How-to-Make-Pourover-Coffee-minimalistbaker-coffee.jpg);
}

.img-third {
    background-image: url(https://blog.mistobox.com/wp-content/uploads/2020/09/brewmethods.jpg);
}

.second {
    display: flex;
    flex-direction: row;
    gap: 1.6em;
}

/* Hover Recipe Cards stylesheet start  */

.ag-format-container {
    width: 1142px;
    margin: 0 auto;
}


body {
    background-color: #000;
}

.ag-courses_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    padding: 50px 0;
}

.ag-courses_item {
    -ms-flex-preferred-size: calc(33.33333% - 30px);
    flex-basis: calc(33.33333% - 30px);

    margin: 0 15px 30px;

    overflow: hidden;

    border-radius: 28px;
}

.ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;

    overflow: hidden;

    position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
    text-decoration: none;
    color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
    -webkit-transform: scale(10);
    -ms-transform: scale(10);
    transform: scale(10);
}

.ag-courses-item_title {
    min-height: 87px;
    margin: 0 0 25px;

    overflow: hidden;

    font-weight: bold;
    font-size: 30px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date-box {
    font-size: 18px;
    color: #FFF;

    z-index: 2;
    position: relative;
}

.ag-courses-item_date {
    font-weight: bold;
    color: rgb(240, 184, 184);

    -webkit-transition: color .5s ease;
    -o-transition: color .5s ease;
    transition: color .5s ease
}

.ag-courses-item_bg {
    height: 128px;
    width: 128px;
    background-color: rgb(240, 184, 184);

    z-index: 1;
    position: absolute;
    top: -75px;
    right: -75px;

    border-radius: 50%;

    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
    background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
    background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
    background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
    background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
    background-color: #4c49ea;
}



@media only screen and (max-width: 979px) {
    .ag-courses_item {
        -ms-flex-preferred-size: calc(50% - 30px);
        flex-basis: calc(50% - 30px);
    }

    .ag-courses-item_title {
        font-size: 24px;
    }
}

@media only screen and (max-width: 767px) {
    .ag-format-container {
        width: 96%;
    }

}

@media only screen and (max-width: 639px) {
    .ag-courses_item {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    }

    .ag-courses-item_title {
        min-height: 72px;
        line-height: 1;

        font-size: 24px;
    }

    .ag-courses-item_link {
        padding: 22px 40px;
    }

    .ag-courses-item_date-box {
        font-size: 16px;
    }
}


/* Hover Recipe Cards stylesheet end  */

/* home button hover effect start */

.home-flex {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

a.btn-home {
    padding: 12px;
    color: #f7f7f7;
    text-decoration: none;
    border: 2px solid rgb(243, 208, 208);
    width: 220px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .5px;
    font-size: 15px;
    margin: 25px;
    border-radius: 2px;
}

.btn-home:hover {
    background-color: rgb(243, 208, 208);
    color: rgb(51, 51, 51);
}

/* home button hover effect end */

.footer {
    text-align: center;
}